
# Database URL for SQLite
DATABASE_URL="dev.db"

BRIGHTDATA_API_KEY=
BRIGHTDATA_ZONE=serp_api1
BRIGHTDATA_BROWSER_WS=wss://

OPENAI_API_BASE_URL=https://
OPENAI_API_KEY=
OPENAI_MODEL=deepseek-ai/DeepSeek-V4-Pro

# Config
MAX_CHARS_PER_DOC=10000
MAX_CHARS_PER_BATCH=400000
MAX_CONCURRENT=1
MAX_SITES_TO_SCRAPE=10
